<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="SHOW" value="1"/><!-- 是否显示交易信息 1是 0否 --> 
  <add key="MYPORT" value="9000" /><!-- 服务端口 --> 
  <add key="LHHUPDATETIME" value="04"/><!-- 定时任务启动时间 单位：小时（HH)-->
  <add key="TIMERTICK" value="30"/><!-- 定时任务执行间隔 单位：分-->
  <add key="encryptor" value="0"/>  <!-- 是否使用加密平台（0否 1是）验证密押 -->
  <add key="encryptorIP" value="163.2.255.1"/>  <!-- 加密平台IP -->
  <add key="encryptorPORT" value="29102"/>  <!-- 加密平台端口 -->

</appSettings>
</configuration>
